.button {
  padding: 15px 27px 13px;
  display: inline-block;
  vertical-align: baseline;
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 5px;
  color: $white;
  text-transform: uppercase;
  font-family: $title-font;
  font-weight: $bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  letter-spacing: 0.05em;
}
