.main-screen {
  background: url("../img/back-main-desktop.jpeg") no-repeat top center;
  background-size: cover;
  background-color: $dark;
  overflow: hidden;

  @supports(background-image: url("../img/back-main-desktop.webp")) {
    background-image: url("../img/back-main-desktop.webp");
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/back-main-desktop@2x.jpeg") no-repeat top center;
    background-size: cover;
    background-color: $dark;

    @supports(background-image: url("../img/back-main-desktop@2x.webp")) {
      background-image: url("../img/back-main-desktop@2x.webp");
    }
  }
}

.main-screen__content {
  padding: 315px 48% 276px 0;
  position: relative;

  h1 {
    font-family: $title-font;
    font-weight: $bold;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $white;
    margin: 0;
    margin-bottom: 27px;
    position: relative;
    z-index: 3;
  }

  p {
    font-size: 22px;
    line-height: 34px;
    color: $white;
    margin: 0;
    margin-left: 98px;
    margin-bottom: 44px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      left: -94px;
      width: 66px;
      height: 2px;
      background-color: $white;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 258px;
    right: -74px;
    max-width: 705px;
    width: 54%;
    height: 515px;
    background: url("../img/board.jpeg") no-repeat center;
    background-size: contain;

    @supports(background-image: url("../img/board.webp")) {
      background-image: url("../img/board.webp");
    }

    @media (min-resolution: 2dppx) {
      background: url("../img/board@2x.jpeg") no-repeat top center;
      background-size: 100%;

      @supports(background-image: url("../img/board@2x.webp")) {
        background-image: url("../img/board@2x.webp");
      }
    }
  }
}

.main-screen__consult {
  background-color: $accent;
  margin-left: 98px;
  font-size: 16px;
  line-height: 19px;
  padding: 17px 45px 19px;

  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-screen__label--mobile {
  display: none;
}

.main-screen__link-below {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: rgba($white, 0.5);
  position: absolute;
  left: -34px;
  bottom: 128px;
  transform: rotate(-90deg);
}

@media (max-width: $tablet) {
  .main-screen {
    background-image: url("../img/back-main-tablet.jpeg");
    background-position: top 11px center;
    background-size: 100% auto;
    background-color: $dark;

    @supports(background-image: url("../img/back-main-tablet.webp")) {
      background-image: url("../img/back-main-tablet.webp");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back-main-tablet@2x.jpeg");
      background-size: 100% auto;
      background-position: top 11px center;
      background-color: $dark;

      @supports(background-image: url("../img/back-main-tablet@2x.webp")) {
        background-image: url("../img/back-main-tablet@2x.webp");
      }
    }
  }

  .main-screen__content {
    padding: 201px 32% 163px 88px;

    h1 {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 29px;
    }

    p {
      font-size: 18px;
      line-height: 156.8%;
      margin: 0 0 55px 51px;

      &::before {
        top: 16px;
        left: -48px;
        width: 33px;
      }
    }

    &::before {
      width: 465px;
      height: 340px;
      top: 126px;
      right: -207px;
    }
  }

  .main-screen__consult {
    margin-left: 51px;
    padding: 17px 31px 19px;
  }

  .main-screen__link-below {
    display: none;
  }
}

@media (max-width: $mobile) {
  .main-screen {
    background-image: url("../img/back-main-mobile.jpeg");
    background-position: top center;
    background-size: 100% auto;
    background-color: $dark;

    @supports(background-image: url("../img/back-main-mobile.webp")) {
      background-image: url("../img/back-main-mobile.webp");
    }

    @media (min-resolution: 2dppx) {
      background: url("../img/back-main-mobile@2x.jpeg") no-repeat top center;
      background-size: 100% auto;
      background-color: $dark;

      @supports(background-image: url("../img/back-main-mobile.webp")) {
        background-image: url("../img/back-main-mobile.webp");
      }
    }
  }

  .main-screen__content {
    padding: 285px 15px 70px;

    h1 {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 26px;
    }

    p {
      font-size: 16px;
      line-height: 161.8%;
      margin-bottom: 41px;
    }

    &::before {
      width: 301px;
      height: 220px;
      top: 91px;
      right: -7px;
    }
  }

  .main-screen__consult {
    margin: 0;
    max-width: 287px;
    width: 100%;
  }

  .main-screen__label {
    display: none;
  }

  .main-screen__label--mobile {
    display: inline;
  }
}
