.page-form__field {
  display: block;
  padding: 14px 16px;
  font-size: 16px;
  line-height: 22px;
  background-color: rgba($white, 0.1);
  border: none;
  outline: none;
  color: $white;
  width: 100%;
  box-sizing: border-box;

  &::placeholder {
    color: $white;
  }
}

.page-form__user-question {
  display: block;
  padding: 14px 16px;
  box-sizing: border-box;
  resize: none;
  min-height: 155px;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  background-color: rgba($white, 0.1);
  border: none;
  outline: none;
  color: $white;

  &::placeholder {
    color: $white;
  }
}

.page-form__submit {
  width: 100%;
  color: $white;
  box-shadow: 0 0 0 1px $white;
}



.page-form__agreement {
  display: none;

  &:checked + label {
    &::before {
      background: url("../../img/tick.svg") top 2px left 2px no-repeat;
    }
  }
}

.page-form__label--agreement {
  font-size: 14px;
  line-height: 16px;
  padding-left: 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
    border: 1px solid $white;
  }
}
