.page-form__item {
  input {
    display: block;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba($white, 0.1);
    border: none;
    outline: none;
    color: $white;
    width: 100%;
    box-sizing: border-box;
    border-radius: none;

    &::placeholder {
      color: $white;
    }

    &:hover {
      background-color: rgba($white, 0.3);
    }

    &:focus {
      background-color: rgba($white, 0.1);
      outline: 1px solid rgba($white, 0.3);
    }
  }
}

.page-form__item--invalid {
  label {
    position: relative;
    &::after {
      content: "Это поле является обязательным";
      position: absolute;
      bottom: -20px;
      left: 5px;
      color: red;
      font-size: 12px;
      z-index: 10;
      display: block;
      width: 220px;
    }
  }
}

.page-form__item--user-question {
  textarea {
    display: block;
    padding: 14px 16px;
    box-sizing: border-box;
    resize: none;
    height: 155px;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba($white, 0.1);
    border: none;
    outline: none;
    color: $white;

    &::placeholder {
      color: $white;
    }

    &:hover {
      background-color: rgba($white, 0.3);
    }

    &:focus {
      background-color: rgba($white, 0.1);
      outline: 1px solid rgba($white, 0.3);
    }
  }
}

.page-form__submit {
  width: 100%;
  color: $white;
  box-shadow: 0 0 0 1px $white;

  &:hover, &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-form__item--agreement {
  input {
    display: none;

    &:checked + label {
      &::before {
        background: url("../../img/tick.svg") top 3px left 2px no-repeat;
      }
    }
  }

  label {
    font-size: 14px;
    line-height: 16px;
    padding-left: 40px;
    padding-top: 9px;
    position: relative;
    display: block;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 8px;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      border: 1px solid $white;
    }

    &:hover, &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (max-width: $tablet) {
  .page-form__item--user-question {
    textarea {
      padding: 12px 16px;
      height: 159px;
    }
  }
}

@media (max-width: $mobile) {
  .page-form__item--user-question {
    textarea {
      height: 104px;
    }
  }

  .page-form__item--agreement {
    label {
      padding-left: 34px;
      padding-top: 0;

      &::before {
        top: 0;
        left: 0;
      }
    }
  }
}
