.questions {
  background-color: $accent;
  color: $white;
  background-image: url("../img/back-form.png");
  background-position: 102% 62%;
  background-size: 91%;
  background-repeat: no-repeat;

  @supports(background-image: url("../img/back-form.webp")) {
    background-image: url("../img/back-form.webp");
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-form@2x.png");
    background-position: 102% 62%;
    background-size: 91%;

    @supports(background-image: url("../img/back-form@2x.webp")) {
      background-image: url("../img/back-form@2x.webp");
    }
  }
}

.questions__form {
  padding: 90px 0 73px 51.29%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  h2 {
    width: 100%;
    margin-bottom: 13px;
    margin-left: -3px;
  }

  p {
    width: 100%;
    margin: 0;
    margin-bottom: 51px;
  }
}

.questions__item {
  width: 47.37%;
  margin-bottom: 40px;
}

.questions__item--user-question {
  width: 100%;
  margin-bottom: 43px;
}

@media (max-width: $tablet) {
  .questions {
    background-image: none;
  }

  .questions__form {
    padding: 80px 85px 63px 93px;

    h2 {
      margin-left: -5px;
      margin-bottom: 19px;
    }

    p {
      margin-bottom: 56px;
    }
  }

  .questions__item {
    margin-bottom: 43px;
  }

  .questions__item--user-question {
    margin-bottom: 46px;
  }
}

@media (max-width: $mobile) {
  .questions__form {
    padding: 30px 15px 10px;

    h2 {
      margin-left: 0;
      margin-bottom: 13px;
    }

    p {
      line-height: 22px;
      margin-bottom: 26px;
    }
  }

  .questions__item {
    width: 100%;
    margin-bottom: 32px;
  }
}
