.social {
  width: 29.7%;
  position: relative;
}

.social__logo {
  display: block;
  margin-bottom: 49px;
}

.social__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 112px;
  margin: 0;
  padding: 0;
}

.social__link {
  display: block;
  width: 100%;
  height: 100%;
  svg {
    fill: rgba($dark, 0.2);
  }
}

.social__copyright {
  position: absolute;
  bottom: -39px;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 457px;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba($dark, 0.5);
  letter-spacing: 0.04em;
}

@media (max-width: $tablet) {
  .social {
    width: 100%;
    padding: 20px 25px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $grey;
    margin-bottom: 38px;
  }

  .social__logo {
    margin-bottom: 0;
  }

  .social__list {
    position: relative;
    top: -3px;
    left: 2px;
  }

  .social__rights {
    display: none;
  }

  .social__copyright {
    bottom: auto;
    top: 50%;
    left: 58%;
    transform: translate(-50%, -50%);
    width: auto;
  }
}

@media (max-width: $mobile) {
  .social {
    flex-direction: column;
    align-items: center;
    padding: 45px 15px 49px;
    margin-bottom: 0;
  }

  .social__logo {
    order: 1;
    margin-bottom: 23px;
  }

  .social__copyright {
    position: static;
    order: 1;
    display: block;
    transform: none;
    margin-bottom: 32px;
  }

  .social__list {
    order: 2;
    top: 0;
    left: 0;
  }
}
