body {
  margin: 0 auto;
  padding: 0;
  font-family: $main-font;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-only {
  display: none;
}

.tablet-only {
  display: none;
}

.desktop-only {
  display: block;
}

.title {
  font-family: $title-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

@media (max-width: $tablet) {

  .mobile-only {
    display: none;
  }

  .tablet-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }

  .title {
    font-size: 32px;
    line-height: 140.62%;
  }
}

@media (max-width: $mobile) {
  .mobile-only {
    display: block;
  }

  .tablet-only {
    display: none;
  }

  .desktop-only {
    display: none;
  }

  .title {
    font-size: 28px;
    line-height: 140.62%;
  }
}
