$title-font: "RobotoCondensed", "Arial", sans-serif;
$main-font: "PTMono", "Arial", sans-serif;
$regular: 400;
$bold: 700;

$mobile: 767px;
$tablet: 1023px;
$desktop: 1024px;

$white: #ffffff;
$black: #000000;
$light-grey: #c4c4c4;
$grey: #cdcdcd;
$dark-grey: #666666;
$dark: #1B2D37;
$accent: #00b2ff;

